header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


.change-color{
    color: brown;
    size: 40px;
    font-family: 'Courier New', Courier, monospace;
}